layout python python3

if [[ ! -f "requirements_sentinel.txt" ]]; then
	touch requirements_sentinel.txt
fi

# If there's a difference, install the missing packages
if [[ -n $(diff requirements.txt requirements_sentinel.txt) ]]; then
	echo "Changes detected in requirements.txt. Installing missing packages..."
	pip install -r requirements.txt
	cp requirements.txt requirements_sentinel.txt # Update the sentinel file
fi
